body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/wellness.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(8px); /* Apply blur effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none ;
}

textarea {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none ;
    resize: vertical;
}

input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}