body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/wellness.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
   /* margin-top: 30px;*/
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   color: white;
   width: 100%;
   padding: 20px 0;
   box-sizing: border-box;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 30%; /* Adjust card width */
    margin: 0 10px; /* Adjust space between cards */
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.card p {
    color: #666666;
}